<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/checkOut/shoppingCart/cart.css">
    <title>購物車</title>

</head>
<body>
<div id="app">

    <div class="header flex-center">
        <h1 class="header-title tsize-16 flex-center">logo</h1>
    </div>

<div v-if="isLogin">   

<div class="cart-list" >

    <div v-if="cart.length === 0" class="empty-cart flex-center">尚未加入商品</div>

    <template v-else>
       
    <div v-for="(item,index) in cart" class="cart-contant">

    <div class="book-info">
        <div class="info-item">
        <img :src="item.cover" alt="商品圖片">
        </div>
            <div class="info-item">
            <h3 class="book-name tsize-16">{{item.name}}</h3>
            <p>作者{{item.author}}</p>
            </div>
    </div>   

    <div class="info-item">   
        <p  class="book-price tsize-16">NT${{item.price}}</p>
</div>
        <div class="info-item">    
            <input class="book-amount tsize-16" type="number" min="1" v-model.number="item.quantity"
            @change="saveCart">
        </div>

            <button @click="removeCart(index)" class="info-item btn-reset cursor tsize-16">
              <i class="delete-btn fa-solid fa-trash-can" ></i>
            </button>
        </div>

    </template>
</div>

</div>

<div v-else>
    <h2 class="flex-center mt-24">請先登入</h2>

</div>

<div class="cart_action flex-center">
    <button @click="returnBtn" id="return" class="btn-reset cursor flex-center">繼續購物</button>
    <button @click="paymentBtn" id="paymentBtn" class="btn-reset cursor flex-center" v-bind:disabled="cart.length === 0|| !isLogin">前往購買</button>
</div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="/App/checkOut/shoppingCart/cart.js"></script>
</body>
</html>