<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./member.css">
    <title>會員頁</title>
</head>
<body>

<div id="app">
    <div class="wrap">
        

<div class="size-container">        
        <div class="header flex-center">

            <h1 class="header-title flex-center tsize-16">會員管理</h1>
        
                        
        </div>


        <div v-if="isLogin"> 
        <div class="memberCard">
            <div class="avater">
                
            </div>
            <div class="profile-header">
                <span class="profile-header-space"></span>
                <p class="profile-info">你好</p>
                <p class="profile-info">帳號:xxxxxxxxxxxxx</p>
                <p class="profile-info">里程:xxxxxxxxxxxxx</p>
            </div>
        
    

            <div class="setting-list">
            <a class="setting-item cursor" href="./member/wishCart/wishCart.html" >
                心願清單 
            <i class="fa-solid fa-chevron-right arrow"></i>
            </a>

            <a class="setting-item cursor" href="#">
                設定 
            <i class="fa-solid fa-chevron-right arrow"></i>
            </a>

            
            <a class="setting-item cursor" href="#">
                帳號設定
                <i class="fa-solid fa-chevron-right arrow"></i>
            </a>

            <a class="setting-item cursor" href="#">
                常見問題
                <i class="fa-solid fa-chevron-right arrow"></i>
            </a>
            </div>

            


     <button class="action-btn flex-center btn-reset" @click="logout">登出</button>

    </div>
    </div>

    <div v-else >
        <div class="memberCard">
            <div class="avater">
                
            </div>
            <div class="profile-header">
                <span class="profile-header-space"></span>
                <p class="profile-infor">尚未登入</p>
            </div>
            <div class="setting-list">
    
                <a class="setting-item cursor" href="#">
                    設定 
                <i class="fa-solid fa-chevron-right arrow"></i>
                </a>
    
                <a class="setting-item cursor" href="#">
                    常見問題
                    <i class="fa-solid fa-chevron-right arrow"></i>
                </a>
                </div>
    
         </div>
        <button class="action-btn flex-center mt-24 btn-reset" @click="login">立即登入</button>
    </div>
    
    <div class="taBar-menu">
    
        <ul class="taBar-list">
            <li class="taBar-item">
                <a  class="taBar-link flex-column" 
                href="../audioPage/audioIndex/index.html">
                <i class="fa-solid fa-headphones taBar-icon"></i>有聲書</a></li>


            <li class="taBar-item">
                <a  class="taBar-link flex-column" 
                href="../ebookPage/index.html">
                    <i class="fa-solid fa-book-open taBar-icon"></i>電子書</a></li>
        
            <li class="taBar-item">
                <a class="taBar-link flex-column" 
                href="../checkOut/shoppingCart/cart.html">

            <span class="cart-badge flex-center text-white" 
            v-if="cart.length > 0" > {{ cart.length }}</span>

            <i class="fa-solid fa-cart-shopping taBar-icon"></i>購物車</a>
            </li>
            
            <li class="taBar-item">
                <a class="taBar-link flex-column"
                href="../bookcase/bookcase.html">
                    <img class="bookcase-img" src="/icon/caseW.png">書櫃</a></li>

            <li class="taBar-item"> 
                <a class="taBar-link flex-column"
                 href="./member.html">
                    <i class="fa-solid fa-user taBar-icon"></i>會員</a></li>
        </ul>
    </div>
</div>
</div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="./member.js"></script>
</body>
</html>