html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#app{
  width: 100%;
  margin: 0 auto;
}

.header{
    width: 100%;
    height: 56px;
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;

       .return-btn{
          width: 80px;
          height: 56px;
          display:block;
          padding-left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          }
        
          .return-btn img{
            width:40px;

          }
  
        h1{
            width: 100%;
            color: #fff;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 40px;
          }       

  }
  
  .book-cover_img{
    width: 100%;
    padding: 32px 0 24px 0;
    display: flex;
    justify-content: center;

    img{
      width: 240px;
    }
  }

.book-article{
  margin-bottom: 120px;

.name{
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.information{
  padding: 0 64px;
  line-height: 2;
  font-size: 16px;
}

.introduction-name{
  padding: 0 64px;
  line-height: 2;
  font-size: 24px;
}



}

.button-flex{
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  background:#7f7f7f;

  .wish,.shoppingCart{

    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;        
    border: none;
    background: none;
    cursor: pointer;
   
    }
    
    .cart-badge{
      position: relative;
      top: -14px;
      left: 48px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: red;
      color: white;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
    .read{
      display: block;
      color: black;
      font-size: 24px;
      padding: 24px;
      text-decoration: none;

    }

    .read:active{
      color: inherit;
    }

    
    img{
      width: 40px;
      height: 40px;
    }

}
