<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>翻閱</title>
    <link rel="stylesheet" href="/App/home/index.css">
</head>
<body>


<div id="app">

    <div class="header">
        <h1 v-show="!showSearch">首頁</h1>

        <div class="header-search-box">
        <button class="header-searchIcon"  @click="showSearch = !showSearch">
            <i class="fa-solid fa-magnifying-glass magnifier"></i>
        </button>
        <input class="header-input-box" v-show="showSearch" type="text" v-model="keyword" placeholder="搜尋書名">
        </div>
    </div>


    <div class="carousel-slider_container mb-24"> 

        <div class="carousel_img-wrapper"> 
            <div class="carousel_slide"><img src="/img/banner-01.jpg"> </div>
            <div class="carousel_slide"> <img src="/img/banner-02.jpg"> </div>  
        </div>
      
      <div class="carousel-slider_dots">
        <button class="dot" data-index="0"></button>
        <button class="dot" data-index="1"></button>
      </div>
    </div>     
      
      

    <div class="category-menu">
        <ul>
            <li v-for="category in categories"
                :key="category">
            <button class="category-btn" @click="currentCategory = category">
            {{ category }}
            </button>
            </li>
        </ul>
      </div>


        <div v-if="filterBooks.length > 0" class="book-cart-area">
            <div v-for="item in filterBooks" :key="item.id" class="book-cart-container mb-24">  

                <div @click="goDetail(item)" class="book-infor">

                    <img :src="item.cover">


                    <div class="container-infor">
                        <h1>{{item.name}}</h1>
                        <p class="mb-24" style="font-size: 16px;">作者:{{item.author}}</p>
                            

                        
                        <div class="book-cart-col">
                                <p class="price" style="font-size: 16px; color:#ff4d6d;">售價:{{item.price}}元</p> 
                            
                        <div class="btn-add-contain">    
                            <div  @click.stop="addToWish(item)" class="add-to-wish" :class="{ activeHeart: isWish(item) }"><i class="fa-solid fa-heart"></i></div>
                            <div  @click.stop="addToCart(item,$event)" class="add-to-shoppingcart"><i class="fa-solid fa-cart-shopping"></i></div>
                        </div>
                        </div>

                    </div>

                </div>

                <div class="btn-container">
                    <a :href="`../readingPage/information/book-detail.html?id=${item.id}`" @click="goDetail(item)">
                        <span>前往詳情</span><i class="fa-solid fa-play"></i>
                    </a>
                </div>

            </div>
        </div>
    <p v-else class="nobook">查無此書</p>

    

    <div class="taBar-menu">
   
        <ul class="taBar-action_menu">
            <li><a href="/App/audioPage/audioIndex.html"><i class="fa-solid fa-headphones"></i>有聲書</a></li>
            <li><a href="/App/home/index.html"><i class="fa-solid fa-book-open"></i>首頁</a></li>
        
            <li><a href="/App/checkOut/cart/shoppingCart.html">
              <span v-if="cart.length > 0" class="cart-badge"> {{ cart.length }}</span>
              <i class="fa-solid fa-cart-shopping"></i>購物車</a>
            </li>
            
            <li><a href="/App/bookcase/bookcase.html"><img src="/icon/caseW.png">書櫃</a></li>
            <li><a href="/App/member/member.html"><i class="fa-solid fa-user"></i>會員</a></li>
        </ul>
    </div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="/App/home/index.js"></script>
</body>
</html>