*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

body{
    line-height:1.5;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

i{
    font-size: 24px;
    margin-bottom: 5px;
}

.mb-24{
  margin-bottom: 24px;
}

#app{
  width: 100%;
  background: #24241F;
}

.header{
  height: 56px;
  background: #333232;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;

      h1{
          display: flex;
          color: #fff;
          font-size: 16px;
          justify-content: center;
          align-items: center;
        }

          .header-searchIcon{
            all: unset;
            cursor: pointer;
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;                 
            right: 24px;         
            top: 50%;            
            transform: translateY(-50%);
          }

          .magnifier{
            font-size: 16px;
            color:#ffffff;
            }

          .header-input-box{
            width: 250px;
            height: 30px;
            outline: none;
            border: none;
            background: none;
            font-size: 16px;
            text-align: center;
          }
}


.carousel-slider_container {
           
    overflow: hidden;     
    position: relative;
      
  

    .carousel_img-wrapper {
      display: flex;       
      transition: transform 0.5s ease-in-out;
      }

      .carousel_slide {
        min-width:100%;
        }

      .carousel_slide img {
        display:block;
        object-fit:cover;
        }
    
    

    .carousel-slider_dots{
       display: flex;
       gap: 8px;
       justify-content: center;
       position: relative;
       top: -16px;
       z-index: 10;
     }   
    
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
      background: #ccc;
      cursor: pointer;
      }
}


.category-menu{
  width:100%;
  margin:0 auto;
  margin-bottom: 32px;

    ul{ 
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      gap:8px;
      }


    .category-btn{
      padding:16px 24px;
      border: none; 
      cursor: pointer;
      font-size: 16px;
      color:white;
      border: solid #87A0C3 1px;
      border-radius: 8px;
      background: #24241F;
    }


}

.book-cart-area{
  padding:8px;
  padding-bottom: 104px;
}

.book-cart-container{
  background: #424242;
  border-radius: 8px;

  
  .book-infor{

      display: flex;
      align-items: center;

      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;


      gap: 16px;
  }

  h1{
    font-size: 20px;
    color: white;
  }

  p{color: white;
  }

  img{
      width: 104px;
      height: 132px;
      background-color: black;
      /* border-radius: 8px 0 0 0; */
  }

  .container-infor{
      flex: 1;
  }


  .book-cart-col{
      display: flex;
      align-items: center;
  }

  .btn-add-contain{
      display: flex;
      gap: 16px;
      padding-left:64px ;
      color: white;
  }
  
  span{
    font-size: 18px;
  }

  i{
      font-size: 16px;
      color: white;
      
  }

  .btn-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top:8px ;
      padding-bottom: 8px;
      color: white;
  }

  .container-play{

      background: none;      /* 移除背景色 */
      border: none;          /* 移除邊框 */
      outline: none;         /* 移除點擊時的虛線框或外框 */
      cursor: pointer;       /* 將滑鼠指標改為手型 */
      color: inherit;        /* 文字顏色繼承父層 */
  }
}

.nobook{
  display: flex;
  justify-content: center;
  font-size: 24px;
}



.taBar-action_menu {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;

  
li {
  flex: 1;              
  list-style: none;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;         
  padding: 16px 0;
  box-sizing: border-box;

  background: #333232;
  color: #fff;
  text-decoration: none;
  position: relative;

}

.cart-badge{
  position: absolute;
  top: 8px;
  right: 15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


img{
  display: block;
  width: 26px;
  margin-bottom: 5px;
}

}

.add-to-wish i{
  transition:.1s;
}

.add-to-wish.activeHeart i{
  color:#ff4d6d;
}

.add-to-shoppingcart.active i{
  animation:carPop.3s ;
  color:#6D88AE;
  
}

@keyframes carPop{
  0%{
    transform: scale(1);
}

50%{
    transform: scale(1.2);
}

100%{
    transform: scale(1);
}

}


    
 
