*,
*::before,
*::after{
box-sizing:border-box;
margin:0;
padding:0;
}

img{
display:block;
max-width:100%;
}

body{
line-height:1.5;
background: #24241F;
height: 100%;
}

ul{
list-style:none;
}

a{
text-decoration:none;
color:inherit;
}


.flex-center{
display: flex;
justify-content: center;
align-items: center;
}


.flex-column{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

.cursor{
cursor: pointer;       /* 將滑鼠指標改為手型 */
}

.btn-reset{
background: none;      /* 移除背景色 */
border: none;          /* 移除邊框 */
outline: none;         /* 移除點擊時的虛線框或外框 */
color: inherit;        /* 文字顏色繼承父層 */
}



#app{
color: #fff;
}

.size-container{
	min-width: 340px;
	max-width: 1024px;
  
	margin: 0 auto;
  }

	.header{
		height: 56px;
		background: #333232;
		position: sticky;
		top: 0;
		z-index: 10;
		}


	.order-success{
		padding-bottom: 64px;

		.success-title{
			font-size: 40px;
			
			margin:30px 0 20px;
			}

			.check{
				font-size: 80px;
				color:#638A84;
				}
		}


.order-list{
	
padding: 32px;

	.list-contain{
		background: #333232;
		padding: 16px;
		border-radius: 8px;
	}

		.list-title{
			padding-top: 8px;
			border-bottom: 1px solid #638A84;
		}


		.list-info{
			padding: 8px 8px 24px 8px;
		}

		.list-item{
			margin-bottom: 8px;
		}

		.order-cart{
			display: flex;
			align-items: center;
			background-color: #333232;
			gap: 8px;
			margin:16px 0;
			}
	
			.order-img{
				width: 90px;
				margin: 5px;
			}
	}


.return-action{
	min-width: 340px;
	max-width: 1024px;
	width: 100%;

	position: fixed;
	bottom: 0;
	z-index: 10;
	background: #333232;


	#return-index{
		height: 76px;
		font-size: 26px;

	}

}


@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

.fade-in-element {
animation: fadeIn 1s ease-in-out;
}