*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

body{
    line-height:1.5;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}


.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
  }



#app{
	width: 100%;
	height: 100hv;
	background: #24241F;
	color: #fff;
}

.header{
	width: 100%;
	height: 56px;
	background: #333232;
  
  
	position: sticky;
	top: 0;
	z-index: 10;
	
  }

.order-success-container{
	width: 100%;
	padding-bottom: 64px;


}

.success-massage-contain{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.check{
 font-size: 80px;
 color:#638A84;
}


h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 40px;
	margin-bottom: 20px;
}


.order-list{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 32px;
	

	.list-contain{
		width: 100%;
		background: #333232;
		padding: 16px;
		border-radius: 8px;
	}

	h3{
		padding-top: 8px;


		border-bottom: 1px solid #638A84;
	}


	ul{

		padding: 8px 8px 24px 8px;
	
	
		
	}

	li{
		margin-bottom: 8px;

	}
}


.ordwr-book-contain{	
	
	width: 100%;

	
	
}

.order-cart{
	display: flex;
	align-items: center;
	background-color: #333232;
	border-bottom: 1px solid #638A84;
	gap: 8px;



	img{
		width: 90px;
		margin: 5px 5px;
	}

}


.return-action{
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 10;


	display: flex;
	justify-content: center;
	align-items: center;


	
	background: #333232;

	#return-index{
		height: 76px;

		border: none;
    	cursor:pointer;
		outline:none;
		background:none;
		font-size: 26px;
		color: #ffffff;
	}

}


@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
  }
  
  .fade-in-element {
	animation: fadeIn 1s ease-in-out;
  }