*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

body{
    line-height:1.5;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
  }

#app{

   min-height: 100vh;
   background: #24241F;
   color: #ffffff;
}

.header{
	width: 100%;
	height: 56px;
	background: #333232;
  
  
	position: sticky;
	top: 0;
	z-index: 10;
  
  
	.return-btn{
		width: 80px;
		height: 56px;
	
	}
	
		i{
			font-size: 24px;
			position: relative;
			top: 16px;
			left: 16px;
		}
	
	
			h1{
			width: 100%;
			font-size: 16px;
			color: #ffffff;
	
	
		  }       
  
		  .header-space{
			width: 80px;
		  }
	
  }

.shoppingCart_list{
	padding: 24px;

	.empty-cart{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.book-cover img{
		width: 130px; 
		border:1px solid #2B5596;
	}

	.shoppingCart_grid_contant{
		display: grid;
		grid-template-columns:104px 1fr 48px ;
		grid-template-rows: auto 18px 56px;
		min-width: 272px;
		margin-bottom: 24px;
		border-radius: 8px;
	
		grid-template-areas:
        "cover name delete"
		"cover bookprice delete"
		"cover book-amount delete";

		gap:8px;
		padding:8px;
		background: #333232;
		border:1px solid #2B5596;

	}

	.book-cover{
		grid-area:cover;
	  }
	  
	  .name{
		grid-area:name;
		font-size: 16px;
		padding-top: 20px;
		color:#ccc;
	  }

	  .bookprice{
		grid-area:bookprice;
		font-size: 16px;
		color: red;
	  }

	  .book-amount{
		grid-area:book-amount;
		width: 32px;
		height: 24px;
		font-size: 16px;
		background: #1E1E1A;
        border: none;
		color: #ccc;
	  }
	  

	  .delete-contain{
		grid-area:delete;
	    border:none;
    	cursor:pointer;
		outline:none;;
		width: 40px;
		height: 40px;

	

		justify-self: end;  /*justify-content:grid版*/
		
		background: #986598;
		border-radius: 8px;
	   }

	   .delete-contain:hover{
		background-color: red;
	   }

	   .delete-btn{
		font-size: 16px;
		color: #ccc;
	   }
	   
}


.cart_action{
	width:100%;
	background: #333232;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	z-index: 10;


	  #return{
		height: 76px;
		display: flex;
		justify-content: center;
		align-items: center;
		border:none;
    	cursor:pointer;
		outline:none;
		background:none;
		width: 100%;
		font-size: 26px;
		color: #ffffff;	
	  }

	  #paymentBtn{
		height: 76px;
		display: flex;
		justify-content: center;
		align-items: center;
		border:none;
    	cursor:pointer;
		outline:none;
		background:none;
		width: 100%;
		font-size: 26px;	
		color: #ffffff;	
		
	  }
}

#paymentBtn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

