<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/checkOut/cart/shoppingCart.css">
    <title>購物車</title>

</head>
<body>
<div id="app">

    <div class="header flex-center">
        <a class="return-btn" href="/App/home/index.html">
            <i class="fa-solid fa-chevron-left return-icon"></i>
        </a>

        <h1 class="flex-center">購買項目</h1>

        <div class="header-space"></div>
                    
    </div>

<ul class="shoppingCart_list" >

    <li v-if="cart.length === 0" class="empty-cart">尚未加入商品</li>

    <template v-else>
    <li v-for="(item,index) in cart" class="shoppingCart_grid_contant">

    <div class="book-cover">    
    <img :src="item.cover" alt="商品圖片">
    </div>

        <h3 class="name">{{item.name}}</h3>
        
        <p  class="bookprice">NT${{item.price}}</p>
        <input class="book-amount" type="number" min="1" v-model.number="item.quantity"
        @change="saveCart">


        <button @click="removeCart(index)" class="delete-contain">
           <i class="delete-btn fa-solid fa-trash-can" ></i>
        </button>
       

    </li>
    </template>
</ul>


<div class="cart_action">
    <button @click="returnBtn" id="return">繼續購物</button>
    <button @click="paymentBtn" id="paymentBtn" v-bind:disabled="cart.length === 0">前往購買</button>
</div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="/App/checkOut/cart/shoppingCart.js"></script>
</body>
</html>