<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/member/wishCart/wishCart.css">
    <title>心願清單</title>
</head>
<body>
    
<div id="app">

<div class="size-container">    
    <div class="header">
        
        <a class="return-btn flex-center" 

		href="/App/member/member.html">

            <i class="fa-solid fa-chevron-left return-icon"></i>

        </a>
        
        <h1 class="search-show flex-center tsize-16" v-show="!showSearch">心願清單</h1>

        <div class="header-search">

        <input class="header-search-input btn-reset flex-center tsize-16"

		 v-show="showSearch" 
		 type="text"
 		 v-model="keyword"
		 placeholder="搜尋書名">
        </div>

        <button class="header-search-btn btn-reset"  @click="showSearch = !showSearch">

            <i class="fa-solid fa-magnifying-glass magnifier tsize-16"></i>
        </button>

    </div>




    <div class="wish-list">

        <div class="wish-book" v-for="(item,index) in filterBooks">


            <div class="book-card"
         
            @click="goDetail(item)">
            
            
            <img class="book-img" :src="item.cover">
        

            <div class="book-info">
            <p>書名:{{item.name}}</p>
            <p>{{item.author}}</p>
            </div>

            </div>


            <button class="delete-btn btn-reset" 
		        @click="removeCart(index)">
                <i class="delete-btn fa-solid fa-trash-can" ></i>
            </button>

        </div>

    </div>
</div>

</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="/App/member/wishCart/wishCart.js"></script>
</body>
</html>