*,
*::before,
*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

img{
  display:block;
  max-width:100%;
}

body{
  line-height:1.5;
  height: 100%;
}

ul{
  list-style:none;
}

a{
color: inherit;
text-decoration: none;

font: inherit;
line-height: inherit;

background: none;
}


.btn-reset{
border: none;           /* 移除邊框 */
background: none;
padding: 0;
margin: 0;
outline: none;          /* 移除點擊時的預設藍色光暈 */
cursor: pointer;        /* 將游標改為手形（可選，適合按鈕行為） */

}

.text-white{
color: #ffffff;
}



.btn-column{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flex-center{
display: flex;
justify-content: center;
align-items: center;
}

.container-block{
  display: block;
  }

.bg-white{
  background: #ffffff;
  }

.tsize-16{
font-size: 16px;
}


.header {
height: 72px;

position: sticky;
top: 0;
z-index: 10;

box-shadow: -20px -5px 24px -7px #666666;
}

.header-flex{
display: flex;
align-items: center;
justify-content: space-between;

}

.logo{
width: 200px;
height: 72px;

background-image: url("../../icon/logo-3.png");
background-repeat: no-repeat; 
background-size: 116px auto;
background-position: center; 
}

.menu-toggle {

width: 72px;
height: 72px;

margin-left: auto;
transition: max-height 1.5s;

}

.menu-toggle i{
font-size: 24px;
color: #2C5597;
}


.nav-list{
position: absolute;
top: 72px;
left: 0;
right: 0;

text-align: center;

line-height: 3;

max-height: 0;
overflow: hidden;


transition: all 0.3s;
}

.nav-list.menu-show {
max-height: 500px;
}


.cart-badge{
color: red;
}

.background-container{

padding: 56px 0 96px 0;
background: #ECE7DD;
}

.book-info{
display: flex;
align-items: center;
gap: 16px;



.info-item{
  flex: 1;
}

.book-name{
  font-size: 24px;
  margin-bottom: 16px;
}

.info-list{
  line-height: 2;

  }
}  

.info-background{
width: 80%;
padding: 24px;

margin: 0 auto;
border-radius: 8px;
margin-bottom: 24px;

}

.book-synopsis{
  width: 80%;
  padding: 24px;
  margin: 0 auto;
  border-radius: 8px;
}

.synopsis-item{
  line-height: 4;
}

.action-btn-tabar{
width: 100%;
height: 56px;
display: flex;
justify-content: space-between;

position: fixed;
bottom:0;

z-index: 10;
}

.action-btn{
flex: 1;
height: 48px;
font-size: 16px;
color: #ffffff;
background: #2C5597;
border-radius:40px ;
}



@media (min-width: 1024px) {

.menu-toggle {
  display: none;
}

.nav-list{
  position: static;

  display: flex;
  max-height: none;
  overflow: visible;

  height: 72px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
}
.nav-link{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

@media (min-width: 1280px) {
  .book-synopsis{
    padding:24px 120px;
  }
}


@media (min-width: 1366px) {

  .book-synopsis{
    padding:24px 160px;
  }
}


@media (min-width: 1920px) {
  
  .header-flex{
    max-width: 1920px;
    margin: 0 auto;
  }
  .book-synopsis{
    padding:24px 184px;
  }

}
