<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/checkOut/pay/payment.css">
    <title>結帳</title>
</head>
<body>

<div id="app">
  
  <div class="header flex-center">logo</div>

  <div class="payment flex-center">
      <div class="shipping-list">
          <h2  class="list-title">配送方式</h2>

          <label class="list-item">
            <input v-model="shippingFee" 
            type="radio" name="shipping" 
            value="80" 
            @change="logistics = '宅配'">

            宅配 $80

          </label>
        
          <label class="list-item">
            <input v-model="shippingFee" 
            type="radio" 
            name="shipping"
            value="45" 
            @change="logistics = '超商取貨'" >


            微笑超商取貨 $45

          </label>
        

        
    
          <form class="order-form">
            <h2 class="list-title">購買人資訊</h2>
            <div class="form-row">
              <label for="name">收件人姓名：</label>

              <input v-model="receiverName" 
                id="name" 
                type="text">
            </div>
          
            <div class="form-row">
              <label for="phone">電話：</label>
              <input v-model="phone" id="phone" type="tel">
            </div>
          
            <div class="form-row">
              <label for="address">地址：</label>
              <input v-model="address" id="address" type="text">

            </div>
          
        </form>



        

     
    <div class="total-list">

        <h2 clsaa="list-title">付款明細</h2>
        <ul class="order-books">
        <li class="books-list" v-for="(item,index) in cart">

               <span>{{item.name}}</span>

              <span>價格{{item.price}},共{{item.quantity}}本</span>

         </li>
       </ul>

       <ul>
         <li class="list-item flex-between"> 商品金額:<span>${{totalPrice}}</span></li> 
         <li class="list-item flex-between"> 運費:<span>${{shippingFee}}</span></li>
       </ul>

       <div class="total">總金額:{{finalPrice}}</div> 
     </div> 


    </div>
</div>

  
  <div class="checkout-action">
    <button @click="submitOrder" id="checkout-btn" class="btn-reset cursor">送出訂單</button>
  </div>

</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/App/checkOut/pay/payment.js"></script>

</body>
</html>