*,
*::before,
*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
  border-radius: 0;
}

img{
  display:block;
  max-width:100%;
}

body{
  line-height:1.5;
  height: 100%;
}

ul{
  list-style:none;
}


a{
text-decoration:none;
color:inherit;
display: block;
}



.cursor{
cursor: pointer;       /* 將滑鼠指標改為手型 */
}


.btn-reset{
background: none;      /* 移除背景色 */
border: none;          /* 移除邊框 */
outline: none;         /* 移除點擊時的虛線框或外框 */
color: inherit;        /* 文字顏色繼承父層 */
}


.flex-column{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

.flex-center{
display: flex;
justify-content: center;
align-items: center;
}


.flex-row-center{
display:flex;
justify-content: center;
}


.flex-align-center{
display:flex;
align-items: center;
}


.container-block{
display: block;
}


.width-full {
width: 100%;
}

.bg-white{
background: #ffffff;
}


.text-white{
color: #ffffff;
}


.tsize-16{
font-size: 16px;
}

.tsize-20{
font-size: 20px;
}

.tsize-22{
font-size: 22px;
}

.mb-24{
margin-bottom: 24px;
}



header {
  position: sticky;
  top: 0;
  z-index: 10;

  height: 72px;

  box-shadow: -20px -5px 24px -7px #666666;
}


.header-flex{
  justify-content: space-between;

}


.logo{
  width: 72px;
  height: 72px;

  background-image: url("../../icon/logo-1.png");
  background-repeat: no-repeat; 
  background-size: 32px auto;
  background-position: center; 
}


.header-search-input {
  width: 200px;
  height: 40px;

  text-align: center;

  border: 1px solid #2C5597;
}


.header-search-btn {
  width: 32px;
  height: 40px;

  border: 1px solid #2C5597;

  background: #2C5597;
}


.magnifier{
  color: #ffffff;
}

.menu-toggle {
  width: 64px;
  height: 72px;
  
  transition: max-height 1.5s;
}



.menu-toggle i{
font-size: 32px;

color: #2C5597;
}


.nav-list{
position: absolute;
top: 72px;
left: 0;
right: 0;


text-align: center;
line-height: 3;


max-height: 0;      /* 把收合狀態的高度壓到 0  
                    搭配 overflow: hidden把超出去的內容藏起來。*/
overflow: hidden;

transition: all 0.3s;
}


.nav-list.menu-show {
max-height: 500px;
}


.cart-badge{
color: red;
}




.carousel-slider {           
overflow: hidden;     
position: relative;


touch-action: pan-y;  /* 允許上下滑網頁，但水平滑動交給輪播 */


.carousel-img-contain {
display: flex;      
transition: transform 0.5s ease-in-out;
}


.carousel-img-item{
  min-width:100%;
  aspect-ratio: 16 / 5;
  }



.carousel-img {
  object-fit:cover;
  }



.carousel-slider-button-group {
  position: absolute;
  display: flex;

  top: 93%;
  left: 50%;

  transform: translate(-50%, -50%);

  gap: 8px;
  z-index: 9;
}  


.dotBtn {

width: 10px;
height: 10px;

border-radius: 50%;

background: #ccc;
}
}

.page-contain{
padding: 0 8px;

flex-direction: column;

}


.category-menu{

margin-bottom: 16px;


  .category-list{ 

    display: grid;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    gap: 8px;
    }

  .category-btn{
    height: 56px;

    border: solid #2C5597 1px;

    border-radius: 8px;


    margin-bottom: 16px;
  }
}


.book-list{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  gap: 24px;
  }



  .book-cart{
    width: 160px;
    border-radius: 8px;
    border: 1px solid #87A0C3;
    }
    
  
    .book-content{
      display: flex;
      flex-direction: column;

  }

  .book-img{
    width: 160px;
    border-radius: 8px 8px 0 0;

    }
    
  .book-info{
    flex-direction: column;

    gap: 5px;

    padding: 8px;
  
  }

    .book-author{
      font-size: 14px;
    }
    
    .book-price{
      color:#ff4d6d;
    }
    
    .action-btn{
      display: flex;
      justify-content: space-around;

  }
    
    .detail-btn{
      padding:8px;
  }

  .detail-btn-text{
  font-size: 18px;
  }

  .filter-nobook{
    font-size: 24px;
  }  
  

  .wish-btn .book-action-icon{
    transition:.1s;
  }
  
  .wish-btn.activeHeart .book-action-icon{
    color:#ff4d6d;
  }
  
  .shoppingcart-btn.active .book-action-icon{
    animation:carPop.3s ;
    color:#6D88AE;
    
  }

  @keyframes carPop{
    0%{
      transform: scale(1);
  }
  
  50%{
      transform: scale(1.2);
  }
  
  100%{
      transform: scale(1);
  }
  
  }



  @media (min-width: 476px) {

    .header-search-input {
      width: 316px;
    }
    .category-menu{
    .category-list {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }}
  
  .book-list {
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 16px;
  }
  
  .book-img {
    width: 220px;
  }
  
  .book-cart {
    width: 220px;
  }
  }
  
  @media (min-width: 640px) {
  
    .logo {
      width: 96px;
    }
    .menu-toggle {
      width: 96px;
    }
    .header-search-btn {
      width: 40px;
    }
    .header-search-input {
      width: 408px;
    }

    .category-menu{
    .category-list {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 16px;
    }}
  
  .book-list {
    grid-template-columns: repeat(auto-fit, 146px);
    gap: 13px;       /* 會跑掉 */
  }
  
  .book-img {
    width: 146px;
  }
  
  .book-cart {
    width: 146px;
  }
      
  }
  
  @media (min-width: 768px) {

    .logo{
      width: 190px;  
      background-image: url("/icon/logo-3.png");
      background-size: 116px auto;
    }
    
    .category-menu{
    .category-list {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }}
  
  .book-list {
    gap: 5px;
  }
      
  }
    
    
  @media (min-width: 1024px) {
  
    .menu-toggle {
      display: none;
    }
    
    .nav-list{
      position: static;
  
      height: 72px;

      max-height: none;
      overflow: visible;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      padding-right: 16px;
    }
    

    .nav-link{
      width: 88px;
      height: 72px;

      display: flex;
      align-items: center;
      justify-content: center;
    }


    .logo{
      width: 200px;
    }
  
    .header-search-input {
      width: 320px;
    }
  
    .book-list {
      grid-template-columns: repeat(auto-fit, 154px);
      gap: 16px;
    }
  
    .book-img {
      width: 154px;
    }
  
    .book-cart {
      width: 154px;
    }
  
    }
  
    @media (min-width: 1280px) {
      .header-search-input {
        width: 480px;
      }
  
      .book-list {
        grid-template-columns: repeat(auto-fit, 166px);
      }
    
      .book-img {
        width: 166px;
      }
    
      .book-cart {
        width: 166px;
      }
    
    }
  
  
    @media (min-width: 1366px) {

      .header-flex{
        max-width: 1366px;
        margin: 0 auto;
      }
      
      .page-wrap{
        margin:0 auto;
        max-width: 1360px;
      }

      .book-list {
      gap: 32px;
      }
    }
  
    @media (min-width: 1536px) {
      .page-container{
        padding:0 120px;
      }
      .book-list {
        gap: 40px;
      }
    }
  
    
    @media (min-width: 1920px) {
  
      .book-list {
        grid-template-columns: repeat(auto-fit, 176px);
        gap: 24px;
      }
      .book-img {
        width: 176px;
      }
  
      .book-cart {
        width: 176px;
      }
    }
