*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
   
}

body{
    line-height:1.5;
    background: #24241F;
    height: 100%;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
    display: block;
}


.btn-reset{
  background: none;      /* 移除背景色 */
  border: none;          /* 移除邊框 */
  outline: none;         /* 移除點擊時的虛線框或外框 */
  cursor: pointer;       /* 將滑鼠指標改為手型 */
  color: inherit;        /* 文字顏色繼承父層 */
}

.flex-column{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .cursor{
    cursor: pointer;       /* 將滑鼠指標改為手型 */
  }  

  .btn-reset{
    background: none;      /* 移除背景色 */
    border: none;          /* 移除邊框 */
    outline: none;         /* 移除點擊時的虛線框或外框 */
    color: inherit;        /* 文字顏色繼承父層 */
  }

  .tsize-16{
    font-size: 16px;
  }  

  .text-white{
    color: #ffffff;
  }

.mb-24{
  margin-bottom: 24px;
}
.mt-24{
  margin-top: 24px;
}

.size-container{
  min-width: 340px;
  max-width: 1024px;

  margin: 0 auto;
}

#app{
  color: #ffffff;
}


.header{
  width: 100%;
  height: 56px;

  background: #333232;

  position: sticky;
  top: 0;
  z-index: 10;

  
  .header-search-btn{
    width: 20px;
    height: 20px;

    display: block;

    position: absolute;                 
    right: 24px;         
    top: 50%;            
    transform: translateY(-50%);
  }

  .header-search-input{
    width: 250px;
    height: 30px;
    text-align: center;

    background:none;
    border:none;
    outline:none;
    color:inherit;
    font:inherit;
  }
}

  
  .bookcase-list-wrapper{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:32px 8px;
    padding:8px;
    margin-bottom: 140px;


  .bookcase-list{

    width: 112px;
    height: 136px;
    position: relative;

  }
  .book-img{
    width: 100%;
    height: auto;
  }
    .delete-btn{
      width: 24px;
      height: 24px;

      position: absolute;
      right: 0;
      z-index: 2;
      background: #986598;
    }
    .book-link{
      width: 100%;
      height: 100%;
      z-index: 1;
    }
   
  }



  .taBar-list {
    width: 100%;
    min-width: 340px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #333232;
    z-index: 8;
    
  .taBar-item {
    flex: 1;              
  }
  
  .taBar-link {
    width: 100%;
    height: 100%;         
    padding: 16px 0;
    
    position: relative;
  
  }
  
  .cart-badge{
    position: absolute;
    top: 8px;
    right: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
  
  }
  .bookcase-img{
    width: 26px;
    margin-bottom: 5px;
  }
  .taBar-icon{
    font-size: 24px;
    margin-bottom: 5px;
  }
  }
  
  

  
@media (min-width: 440px) {

.bookcase-list-wrapper{

  gap: 56px 8px;
  .bookcase-list {
    
    width: 136px;
  }
}
.taBar-menu{
  .taBar-item{
  .cart-badge {
    right: 20px;
}}}
}


@media (min-width: 476px) {
  
.taBar-menu{
  .taBar-item{
  .cart-badge {
    right: 22px;
}}}

}


@media(min-width: 560px){

.bookcase-list-wrapper{
  grid-template-columns:repeat(4,1fr);
  gap: 56px 8px;
  .bookcase-list {
    
    width: 136px;
  }
}
.taBar-menu{
  .taBar-item{
  .cart-badge {
    right: 32px;
}}}
}


@media (min-width: 640px) {

.bookcase-list-wrapper{
  grid-template-columns:repeat(4,1fr);
  gap: 56px 8px;
  .bookcase-list {
    
    width: 144px;
  }
}

.taBar-menu{
.taBar-item{
.cart-badge {
  right: 45px;
}}}
  
}


@media (min-width: 768px) {
.bookcase-list-wrapper{
  grid-template-columns:repeat(4,1fr);
  gap: 112px 8px;
  .bookcase-list {
    
    width: 176px;
  }
}

.taBar-menu{
  .taBar-item{
  .cart-badge {
    right: 52px;
}}}

}  



@media (min-width: 834px) {
.bookcase-list-wrapper{
grid-template-columns:repeat(4,1fr);
gap: 112px 8px;
.bookcase-list {
  
  width: 176px;
}
}


.taBar-menu{
.taBar-item{
.cart-badge {
right: 58px;
}}}
}   


@media (min-width: 1024px) {
.taBar-menu{
.taBar-item{
.cart-badge {
  right: 72px;
}}}
}