<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書櫃</title>
    <link rel="stylesheet" href="/App/bookcase/bookcase.css">
</head>
<body>

<div id="app">
    <div class="header">
        <h1 v-show="!showSearch">查詢已購買的書</h1>

        <div class="header-search-box">
        <button class="header-searchIcon"  @click="showSearch = !showSearch">
            <img class="magnifier" src="/icon/searchIcon.png"  alt="搜尋按鈕">
        </button>
        <input class="header-input-box" v-show="showSearch" type="text" v-model="keyword" placeholder="搜尋書名">
        </div>
    </div>

    <div class="bookcase-list-contain">

        <div class="case-book" v-for="(item,index) in filterBooks">
            <button class="delete_btn" @click="removeCart(index)">x</button>
            <a href="/App/readingPage/information/book-detail.html" :href="`book-detail.html?id=${item.id}`"
            @click="goDetail(item)"class="book-card__link"><img :src="item.cover">
            </a>
        </div>
    </div>

    <div class="taBar-menu">
  
        <ul class="taBar-action_menu">
            <li><a href="/App/audioPage/audioIndex.html"><img src="/icon/headphoneW.png">有聲書</a></li>
            <li><a href="/App/home/index.html"><img src="/icon/bookW.png">首頁</a></li>
        
            <li><a href="/App/checkOut/cart/shoppingCart.html">
              <span v-if="cart.length > 0" class="cart-badge"> {{ cart.length }}</span>
              <img style="padding-right: 5px;" src="/icon/cartW.png">購物車</a>
            </li>
            
            <li><a href="#"><img src="/icon/bookshelfW.png">書櫃</a></li>
            <li><a href="/App/member/member.html"><img src="/icon/memberW.png">會員</a></li>
        </ul>
    </div>


</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="/App/bookcase/bookcase.js"></script>
</body>
</html>
