*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

body{
    line-height:1.5;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

i{
    font-size: 24px;
    margin-bottom: 5px;
}

button{
  background: none;      /* 移除背景色 */
  border: none;          /* 移除邊框 */
  outline: none;         /* 移除點擊時的虛線框或外框 */
  cursor: pointer;       /* 將滑鼠指標改為手型 */
  color: inherit;        /* 文字顏色繼承父層 */
}


.mb-24{
  margin-bottom: 24px;
}

#app{
  background: #24241F;
  min-height: 100vh;
}


.header{
    width: 100%;
    height: 56px;
    background: #333232;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
  
        h1{
            width: 100%;
            display: flex;
            color: #fff;
            font-size: 16px;
            justify-content: center;
            align-items: center;
          }
  
            .header-searchIcon{
              all: unset;
              cursor: pointer;
              width: 20px;
              height: 20px;
              display: block;
              position: absolute;                 
              right: 24px;         
              top: 50%;            
              transform: translateY(-50%);
            }
  
            .magnifier{
              font-size: 16px;
              color:#ffffff;
              }
  
            .header-input-box{
              width: 250px;
              height: 30px;
              outline: none;
              border: none;
              background: none;
              font-size: 16px;
              text-align: center;
            }
  }
  
  .bookcase-list-contain{

    margin-top: 32px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:32px 8px;

    padding:8px;





  .case-book{

    width: 112px;
    height: 136px;

    position: relative;

    

  }

    .delete_btn{
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      z-index: 9;
      border: none;
      cursor: pointer;
      
      background: #986598;
    }


    a{
      width: 100%;
      height: 100%;
      display: block;
      background: yellow;
      z-index: 1;
    }

    img{
      width: 100%;
    }
   
  }

  .taBar-action_menu {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
  
    
  li {
    flex: 1;              
    list-style: none;
  }
  
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;         
    padding: 16px 0;
    box-sizing: border-box;
  
    background: #333232;
    color: #fff;
    text-decoration: none;
    position: relative;
  
  }
  
  .cart-badge{
    position: absolute;
    top: 8px;
    right: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  img{
    display: block;
    width: 26px;
    margin-bottom: 5px;
  }
  
  }
  