*,
*::before,
*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

img{
  display:block;
  max-width:100%;
}

body{
  line-height:1.5;
  height: 100%;
  min-width: 360px;
}

ul{
  list-style:none;
}

a{
  text-decoration:none;
  color:inherit;
  display: block;
}


.cursor{
  cursor: pointer;       /* 將滑鼠指標改為手型 */
  }

.mb-24{
  margin-bottom: 24px;
  }

.btn-reset{
  background: none;      /* 移除背景色 */
  border: none;          /* 移除邊框 */
  outline: none;         /* 移除點擊時的虛線框或外框 */
  cursor: pointer;       /* 將滑鼠指標改為手型 */
  color: inherit;        /* 文字顏色繼承父層 */
  }

.flex-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.tsize-16{
  font-size: 16px;
  }

.tsize-22{
  font-size: 22px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 72px;
  
    position: sticky;
    top: 0;
    z-index: 10;

    background: #ffffff;
    box-shadow: -20px -5px 24px -7px #666666;
  }

  .logo{
    width: 64px;
    height: 72px;
  }
  
  .header-search {
    display: flex;
    align-items: center;
  }
  
  .header-search-input {
    width: 200px;
    height: 40px;
    text-align: center;
    border: 1px solid #2C5597;
    font-size: 16px;
  }
  
  .header-search-btn {
    width: 32px;
    height: 40px;
    border: 1px solid #2C5597;
    background: #2C5597;
  }
  .magnifier{
    font-size: 20px;
    color: #ffffff;
   
  }
  
  .menu-toggle {

    width: 64px;
    height: 72px;

    display: block;
    transition: max-height 1.5s;

}

.menu-toggle i{
  font-size: 24px;
  color: #2C5597;
}

.nav-list{
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  
  text-align: center;

  line-height: 3;

  display: block;

  max-height: 0;
  overflow: hidden;

  background: #ffffff;

  transition: all 0.3s;

}

.nav-list.menu-show {
  max-height: 500px;
}

.nav-item {
  display: block;
}

.cart-badge{
  color: red;
}



.carousel-slider {           
  overflow: hidden;     
  position: relative;

  display: flex;
  justify-content: center;

    /* 允許上下滑網頁，但水平滑動交給輪播 */
  touch-action: pan-y;

.carousel-img-contain {
  display: flex;      
  transition: transform 0.5s ease-in-out;

  
  }

  .carousel-img-item{
    min-width:100%;
    aspect-ratio: 16 / 5;
    }

  .carousel-img {
    display:block;
    object-fit:cover;
    }



.carousel-slider-button-group {
    position: absolute;
    display: flex;

    top: 93%;
    left: 50%;

    transform: translate(-50%, -50%);
    gap: 8px;
    z-index: 9;
  }  


.dotBtn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  }
}


.page-contain{
  padding: 0 8px;
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.category-menu{

  margin-bottom: 16px;
  

  .category-list{ 
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 8px;
     row-gap:16px;
    justify-content: space-between;


    }

    .category-item{
      width: 100%;
    }

  .category-btn{
    width: 100%;
    height: 56px;
    border: solid #2C5597 1px;
    border-radius: 8px;
    background: #ffffff;
    
  }
}


.list-title{
  margin:16px 0;
}


.hot-book-list{
  display: grid;

  grid-template-columns: repeat(2,168px);
  justify-content: space-around;

  border-bottom: 1px solid #2C5597;

}

.hot-book-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 16px;
  
  border-radius: 8px;
  border:1px solid #2C5597;
  margin-bottom:32px ;
  
  background:#ffffff;
}

.hot-book-img{
 width: 154px;
 border-radius: 8px;
}


.book-wrap{
  display: flex;
  justify-content: center;

}

.book-list{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-between;

  gap:24px;

}
  
.book-cart{
  width: 160px;
  border-radius: 8px;
  border: 1px solid #87A0C3;
  background: #ffffff;

}

  .book-content{
    display: flex;
    flex-direction: column;
  }

  .book-img{
      width: 160px;
     border-radius: 8px 8px 0 0;
  }

  .book-info{
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  
  }

  .book-name{
    font-size: 16px;
  }

  .book-author{
    font-size: 14px;
  }

  .book-cart-column{
      display: flex;
      align-items: center;
  }

  .book-price{
    color:#ff4d6d;
    font-size: 20px;
    }

  .action-btn{
      display: flex;
      justify-content: space-around;

      font-size: 20px;
  }


  .detail-btn{
      padding:8px;
  }

  .detail-btn-text{
  font-size: 18px;
  }




  .filter-nobook{
  display: flex;
  justify-content: center;
  font-size: 24px;
  }




.wish-btn .book-action-icon{
transition:.1s;
}

.wish-btn.activeHeart .book-action-icon{
color:#ff4d6d;
}

.shoppingcart-btn.active .book-action-icon{
animation:carPop.3s ;
color:#6D88AE;

}

@keyframes carPop{
0%{
  transform: scale(1);
}

50%{
  transform: scale(1.2);
}

100%{
  transform: scale(1);
}

}




@media (min-width: 476px) {

  .header-search-input {
    width: 316px;
  }
  .category-menu{
  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}}

.hot-book-list{
  column-gap: 8px;
  grid-template-columns: repeat(2,226px);
}

.hot-book-img{
  width: 196px;
}
.book-list {
  grid-template-columns: repeat(2, 220px);
}



.book-img {
  width: 220px;
}

.book-cart {
  width: 220px;
}
}

@media (min-width: 640px) {

  .logo {
    width: 96px;
  }
  .menu-toggle {
    width: 96px;
  }
  .header-search-btn {
    width: 40px;
  }
  .header-search-input {
    width: 408px;
  }

  .category-menu{
  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
  
  }}

  .hot-book-list{
    grid-template-columns: repeat(4,140px);
    column-gap: 8px;
  }

  .hot-book-content{
    padding: 8px;

  }
  
  .hot-book-img {
      width: 138px;
    }

.book-list {
  grid-template-columns: repeat(4, 146px);
  

}

.book-img {
  width: 146px;
}

.book-cart {
  width: 146px;
}
    
}

@media (min-width: 768px) {

  .logo {
    width: 240px;
  }
  .menu-toggle {
    width: 96px;
  }
  .header-search-btn {
    width: 40px;
  }
  .header-search-input {
    width: 392px;
  }

  .hot-book-list{
        grid-template-columns: repeat(4,168px);
        padding: 24px;
        background: #ECE7DD;
  }

  .category-menu{
  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}}

.book-list {
  gap: 32px;
}

.book-img {
  width: 146px;
}

.book-cart {
  width: 146px;
}
    
}
 
 
@media (min-width: 1024px) {

  .menu-toggle {
    display: none;
  }
  
  .nav-list{
    position: static;

    display: flex;
    max-height: none;
    overflow: visible;

    height: 72px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
  }
  .nav-link{
    width: 88px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    width: 200px;
  }

  .header-search-input {
    width: 320px;
  }

  .hot-book-list{
    column-gap: 32px;
    justify-content: start;
  }
  
  .hot-book-content{
    padding: 16px;

  }
  
  .hot-book-img {
      width: 160px;
    }

  
  .book-list {
    grid-template-columns: repeat(5, 154px);
    justify-content: start;
    gap: 56px;
  }

  .book-img {
    width: 154px;
  }

  .book-cart {
    width: 154px;
  }

  }

  @media (min-width: 1280px) {

    .menu-toggle {
      display: none;
    }
    
    .nav-list{
      position: static;
  
      display: flex;
      max-height: none;
      overflow: visible;
  
      height: 72px;
      align-items: center;
      justify-content: flex-end;
      padding-right: 16px;
    }
    .nav-link{
      width: 88px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .header-search-input {
      width: 480px;
    }

    .book-list {
      grid-template-columns: repeat(6, 166px);
      gap: 53px;
    }
  
    .book-img {
      width: 166px;
    }
  
    .book-cart {
      width: 166px;
    }
  
  }


  @media (min-width: 1366px) {
    .page-wrap{
      margin:0 auto;
      max-width: 1360px;
    }


  .book-list {
    gap: 69px;
  }
  }

  
  @media (min-width: 1920px) {
  
    .book-list {
      grid-template-columns: repeat(6, 176px);
      gap: 48px;
    }
    .book-img {
      width: 176px;
    }

    .book-cart {
      width: 176px;
    }
  }