<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>翻閱</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>


    <div id="app">

        <header class="header bg-white">
           
            <div class="header-flex flex-align-center">
            <h1 class="logo" @click="goindex()">              
            </h1>
    
            <div class="header-search btn-reset flex-align-center">
    
                <input
                    class="header-search-input tsize-16"
                    type="text"
                    placeholder="搜尋書名"
                    v-model="searchInput"
                    @keyup.enter="search"
                >
    
                <button class="header-search-btn btn-reset " @click="search">
                    <i class="fa-solid fa-magnifying-glass magnifier tsize-20"></i>
                </button>
    
            </div>

            <button class="menu-toggle btn-reset"  @click="showMenu = !showMenu">
                <i class="fa-solid fa-bars"></i>
            </button>

            <ul class="nav-list bg-white"
            :class="{ 'menu-show': showMenu }"
            >
    
                <li class="nav-item">
                    <a
                        class="nav-link"
                        @click="handleLogin"
                        href="../loginPage/login.html"
                    >
                        {{ isLogin ? '登出' : '登入' }}
                    </a>
                    
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="../checkOut/shoppingCart/cart.html"
                    >   購物車
                        <span
                            class="cart-badge"
                            v-if="cart.length > 0"
                        >
                        ({{ cart.length }})
                        </span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="../bookcase/bookcase.html"
                    >
                        書櫃
                    </a>
                </li>
    
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="../audioPage/audioIndex/index.html"
                    >
                        有聲書
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" 
                    href="./index.html">
                   電子書
                    </a>
                </li>
    
            </ul>
        </div>
        </header>



    
    
        <div class="page-wrap">
        <div class="carousel-slider mb-24 flex-row-center">
    
            <div class="carousel-img-contain">
    
                <div class="carousel-img-item">
                    <img
                        class="carousel-img"
                        src="../../../img/banner-01.jpg"
                    >
                </div>
    
                <div class="carousel-img-item">
                    <img
                        class="carousel-img"
                        src="../../../img/banner-02.jpg"
                    >
                </div>
    
            </div>
    
            <div class="carousel-slider-button-group">
    
                <button
                    class="dotBtn cursor"
                    data-index="0"
                ></button>
    
                <button
                    class="dotBtn cursor"
                    data-index="1"
                ></button>
    
            </div>
    
        </div>
    
    

        <!-- Page -->
        <div class="page-contain">
    
            <!-- Category -->
            <div class="category-menu">
    
                <ul class="category-list">
    
                    <li
                        class="category-item"
                        v-for="category in categories"
                        :key="category"
                    >
    
                        <button
                            class="category-btn cursor tsize-16 bg-white container-radius"
                            @click="currentCategory = category"
                        >
                            {{ category }}
                        </button>
    
                    </li>
    
                </ul>
    
            </div>
    
            <h3 class="list-title">今日熱門</h3>
            <div class="hot-book-list">
            <div
            v-for="item in filterBooks.slice(0, 4)"
            :key="item.id">

            <div
            class="hot-book-content flex-column container-radius"
            @click="goDetail(item)">

            <img
                class="hot-book-img container-radius"
                :src="item.cover">

            <h4 class="book-name flex-center">{{ item.name }}</h4>    
            </div>
            </div>
            </div>


                        
            <h3 class="list-title">最新書籍</h3>
            <!-- Bookcart -->
            <div class="book-wrap flex-row-center">

                <!-- 有搜尋結果 -->
                <div
                    class="book-list"
                    v-if="filterBooks.length > 0"
                >
           
                    <div
                        class="book-cart mb-24 bg-white container-radius"
                        v-for="item in filterBooks"
                        :key="item.id"
                    >
    
                        <!-- 書籍內容 -->
                        <div
                            class="book-content "
                            @click="goDetail(item)"
                        >
    
                            <img
                                class="book-img"
                                :src="item.cover"
                            >
    
                            <div class="book-info">
    
                                <h4 class="book-name tsize-16">
                                    {{ item.name }}
                                </h4>
    
                                <p class="book-author tsize-16">
                                    作者:{{ item.author }}
                                </p>
    
                                <p class="book-price tsize-20">
                                    NT$:{{ item.price }}
                                </p>
    
    
                                <!-- 收藏 / 購物車 -->
                                <div class="action-btn tsize-20">
    
                                    <div
                                        class="wish-btn"
                                        @click.stop="addToWish(item)"
                                        :class="{ activeHeart: isWish(item) }"
                                    >
                                        <i
                                            class="fa-solid fa-heart book-action-icon"
                                        ></i>
                                    </div>
    
                                    <div
                                        class="shoppingcart-btn"
                                        @click.stop="addToCart(item, $event)"
                                    >
                                        <i
                                            class="fa-solid fa-cart-shopping book-action-icon btn-blue"
                                        ></i>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
    
                        <!-- 詳情按鈕 -->
                        <div class="detail-btn flex-center">
    
                            <a @click="goDetail(item)">
    
                                <span class="detail-btn-text">
                                    前往詳情
                                </span>
    
                                <i
                                    class="fa-solid fa-play book-action-icon tsize-16"
                                ></i>
    
                            </a>
    
                        </div>
    
                    </div>
    
                </div>
    
    
                <!-- 沒有搜尋結果 -->
                <p
                    v-else
                    class="filter-nobook flex-row-center"
                >
                    查無此書
                </p>
    
            </div>
    
        </div>
    
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="./index.js"></script>
</body>
</html>
