<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>翻閱</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>


<div id="app">
      
<div class="size-container">
    <div class="header flex-center">
        <h1 class="header-title flex-center text-white tsize-16" v-show="!showSearch">電子書</h1>

        <div class="header-search">

        <button class="header-search-btn btn-reset cursor"  @click="showSearch = !showSearch">
            <i class="fa-solid fa-magnifying-glass magnifier tsize-16 text-white"></i>
        </button>

        <input class="header-search-input tsize-16"
            v-show="showSearch"
            type="text" 
            v-model="keyword"
            placeholder="搜尋書名">
        </div>

    </div>



    <div class="carousel-slider mb-24"> 
        <div class="carousel-img-contain"> 
            <div class="carousel-img-item"><img  class="carousel-img" src="../../img/banner-01.jpg"> </div>
            <div class="carousel-img-item"> <img class="carousel-img" src="../../img/banner-02.jpg"> </div>  
        </div>

      
      <div class="carousel-slider-button-group">
        <button class="dotBtn cursor" data-index="0"></button>
        <button class="dotBtn cursor" data-index="1"></button>
      </div>

    </div>   
      



    <div class="category-menu">
        <ul class="category-list">
            <li class="category-item" v-for="category in categories"
                :key="category">
            <button class="category-btn btn-reset cursor tsize-16 text-white" @click="currentCategory = category">
            {{ category }}
            </button>
            </li>
        </ul>
      </div>


      <div class="book-list" v-if="filterBooks.length > 0">
      
      <div class="book-cart mb-24"
      v-for="item in filterBooks" 
      :key="item.id">  
      
      <div class="book-content"
       @click="goDetail(item)" >
      
      <img class="book-img" :src="item.cover">
      
      
      <div class="book-info">
      
      <h1 class="book-name">{{item.name}}</h1>
      
      <p class="book-author tsize-16 mb-24">
      
      作者:{{item.author}}</p>
                                  
      
      
      
                              
      <div class="book-cart-column">
      
      <p class="book-price tsize-16">
      
      NT:${{item.price}}</p> 
      
      
      
      <div class="action-btn">  
       
       <div class="wish-btn" 
      
       @click.stop="addToWish(item)" 
      
      :class="{ activeHeart: isWish(item) }">
      
      <i class="fa-solid fa-heart book-action-icon tsize-22"></i>
      
      </div>
      
      
      
      <div class="shoppingcart-btn"
      
      @click.stop="addToCart(item,$event)">
      
      <i class="fa-solid fa-cart-shopping book-action-icon tsize-22"></i>
      
      </div>
      
       </div>
       </div>
      
       </div>
      
       </div>
      
      
      
      <div class="detail-btn flex-center">
      
      
      <a @click="goDetail(item)">
      
      
      <span class="detail-btn-text">前往詳情</span>
      
      <i class="fa-solid fa-play book-action-icon tsize-16"></i>
      
      </a>
      
      
      </div>
      
      
      </div>
      
      </div>
      
      
      
      <p v-else class="filter-nobook">查無此書</p>
      
   


      <div class="taBar-menu">
   
        <ul class="taBar-list">
            <li class="taBar-item">
                <a class="taBar-link flex-column" href="../audioPage/audioIndex/index.html">
                    <i class="fa-solid fa-headphones taBar-icon"></i>有聲書</a></li>



            <li class="taBar-item">
                <a class="taBar-link flex-column text-white" href="./index.html">
                    <i class="fa-solid fa-book-open taBar-icon"></i>電子書</a></li>

        
            <li class="taBar-item">
                <a class="taBar-link flex-column" 
                href="../checkOut/shoppingCart/cart.html">

              <span class="cart-badge flex-center text-white" 
                v-if="cart.length > 0">{{ cart.length }}</span>

              <i class="fa-solid fa-cart-shopping taBar-icon"></i>購物車</a>
            </li>

            
            <li class="taBar-item">
                <a class="taBar-link flex-column" 
                href="../bookcase/bookcase.html">
                <img class="bookcase-img" 
                src="../../icon/caseW.png">書櫃</a></li>


            <li class="taBar-item">
                <a class="taBar-link flex-column"
                 href="../member/member.html">
                <i class="fa-solid fa-user taBar-icon"></i>會員</a></li>
        </ul>
    </div>

</div>
    
</div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="./index.js"></script>
</body>
</html>