*,
*::before,
*::after{
box-sizing:border-box;
margin:0;
padding:0;
}

img{
display:block;
max-width:100%;
}

body{
line-height:1.5;
height: 100%;
background: #ECE7DD;
}

ul{
list-style:none;
}

a{
color: inherit;
text-decoration: none;
display: block;
}

i{
font-size: 24px;
color: #2B5596;
}

button{
background: none;      /* 移除背景色 */
border: none;          /* 移除邊框 */
outline: none;         /* 移除點擊時的虛線框或外框 */
color: inherit;        /* 文字顏色繼承父層 */       /* 將游標改為手形（可選，適合按鈕行為） */

}

.mb-16{
margin-bottom: 16px;
}

.action-btn{
display:flex;
justify-content:center;
align-items:center;

width:126px;

padding:16px 0 8px;
}

.btn-column{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flex-center{
display: flex;
justify-content: center;
align-items: center;
}

.bg-white{
background: #ffffff;
}

.tsize-16{
font-size: 16px;
}

.pd-16{
padding: 16px;
}

.header{
height: 72px;

display: flex;
align-items: center;

position: sticky;
top: 0;
z-index: 10;

box-shadow: -20px -5px 24px -7px #666666;
}

.return-btn{
width: 80px;
height: 72px;
}

.return-icon{
position: relative;
top: 20px;
left: 20px;

font-size: 32px;
}


.header-space{
width: 80px;
}


.player-flex{
width:100%;

display: flex;
justify-content: center;
flex-direction: column;
}

.book-cover{
display: flex;
justify-content: center;

border-radius: 8px;

}

.book-info{
line-height: 24px;
}


.book-img{
width: 200px;
}

.audio-layer-contain{
width:100%;
display: block;
}

.player-background{
border-radius: 8px;
}


.audio-player{
padding: 40px 0 16px 0;

display: flex;
align-items: center;
justify-content: space-around;

}

.player-btn{
width: 100px;
height: 50px;
}


.forward-btn{
font-size: 48px;
color: #2B5596;
}


.progress {
width: 100%;   

appearance: none;


position: relative;

margin-bottom: 8px;
box-shadow:1px 1px 20px -8px #2B5596;

}

.progress-bar{
padding: 0 16px;
}


.progress:focus {
outline: none;
}

.progress::before {  /*填滿的地方*/
position: absolute;

content: "";

height: 2px;

background: black;
}

.progress::-webkit-slider-runnable-track {

height: 2px;

background: transparent;

}

.progress::-webkit-slider-thumb {
width: 10px;
height: 10px;

border-radius: 100%;

border: none;
appearance: none;

background-color: #2B5596;

margin-top: -3.5px;

z-index: 9;

position: relative;

transition: .5s all ease;

}



.chapter-container{
display: block;
}  


.chapter-list{

border-radius:20px;

border: 1px solid #2B5596;
box-shadow:1px 1px 5px -1px #2B5596;

}

.chapter-item{
height: 60px;
}




@media (min-width: 1024px) {


.player-flex{
padding: 32px 24px;

display: flex;
flex-direction: row;
}

.audio-layer-contain {
width: 600px;

}
.chapter-container {
display: block;
width: 600px;
padding: 0 16px;
}

}
  