<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./player.css">
    <title>撥放頁面</title>
    
</head>
<body>

<div id="app">
  
    <div class="header bg-white">
      <a class="return-btn" @click="returnBtn">
          <i class="fa-solid fa-chevron-left return-icon"></i>
      </a>           
    </div>


    

    <div class="player-flex pd-16">
      
      <div class="audio-layer-contain">

         
        <div class="book-cover mb-16 pd-16 bg-white">
            <img class="book-img mb-16" :src="book.cover" alt="書本封面" >        
        </div>

        
        <div class="player-background bg-white">
                 
        <div class="book-info tsize-16 pd-16">
        <p>{{book.name}}</p>
        <p>{{book.introduction}}</p>
        </div>


       
        <div class="progress-bar">
          <input type="range" 
            class="progress" 
            min="0" max="100" 
            v-model="progress" 
            :style="{ background: 
              `linear-gradient(
              to right, #2B5596 0%, 
               #2B5596 ${progress}%, 
               #ccc ${progress}%, 
               #ccc 100%)`}"
            @input="changeProgress">
        </div>


		  <audio ref="audio">
                <source src="/audio/數學內文.mp3" type="audio/mpeg">
              </audio>
      

              <div class="audio-player flex-center">

                  <button class="player-btn" @click="prevChapter">  
                      <i class="fa-solid fa-angle-left forward-btn"></i>
                    </button>

              
                  <button class="player-btn" @click="toggleAudio">
                    <i :class="isPlaying  ? 'fa-solid fa-pause' : 'fa-solid fa-play'" style=" color: #2B5596; font-size: 48px;"></i>
                  </button>


                  <button class="player-btn" @click="nextChapter">
                    <i class="fa-solid fa-angle-right forward-btn"></i>
                  </button>

              </div>
 	     </div>
      </div>
	



   <div class="chapter-container pd-16">
                <ul class="chapter-list bg-white">
                  <li
                  class="chapter-item flex-center"
                  v-for="(chapter,index) in bookChapters" 
                  @click="changeChapter(chapter.start,index)" 
                  :key="index">
                  

                  
                  <span>{{chapter.title}}</span>
                  <span> {{ formatTime(chapter.start) }}</span>
                  </li>
                </ul>
    </div>
	</div>

      

</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="https://kit.fontawesome.com/b2c49ae549.js" crossorigin="anonymous"></script>
<script src="../../data/audioBook.js"></script>
<script src="./player.js"></script>
</body>
</html>
