*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

body{
    line-height:1.5;
    background: #24241F;
    height: 100%;
}

ul{
    list-style:none;
}

a{
  color: inherit;
  text-decoration: none;
}

i{
  font-size: 24px;
  color: #ffffff;
}

button{
  background: none;      /* 移除背景色 */
  border: none;          /* 移除邊框 */
  outline: none;         /* 移除點擊時的虛線框或外框 */
  color: inherit;        /* 文字顏色繼承父層 */       /* 將游標改為手形（可選，適合按鈕行為） */

}

.mb-16{
  margin-bottom: 16px;
}

.action-btn{
  display:flex;
  justify-content:center;
  align-items:center;

  width:126px;

  padding:16px 0 8px;
}

.btn-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tsize-16{
  font-size: 16px;
}

#app{
  color: #ffffff;
}

.player-top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #24241F;
}

.header{
  height: 56px;


  background: #333232;

  .return-btn{
      width: 80px;
      height: 56px;
  
  }
  
  .return-icon{
          font-size: 24px;

          position: relative;
          top: 16px;
          left: 16px;
      }
  
  
      .header-title{
        width: 100%;

      }       

        .header-space{
          width: 80px;
        }
  
}
  .book-cover{
    width: 100%;

    display: flex;
    justify-content: center;

    padding-top: 16px;

  }

  .book-info{
    padding: 16px;
    line-height: 24px;
  }


  .book-img{
    width: 200px;
    height: 280px;
  }


  .audio-player{

    width:100%;

    margin-top: 462px;

    padding: 40px 0 16px 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
 .player-btn{
    width: 100px;
    height: 50px;

    .forward-btn{
      font-size: 48px;
      color: #2B5596;
    }

  }
  

  .progress {
    appearance: none;

    width: 100%;


    position: relative;

    margin-bottom: 8px;
    box-shadow:1px 1px 20px -8px #2B5596;

    }
  
  
    
    .progress:focus {

      outline: none;

    }
    
    .progress::before {  /*填滿的地方*/
    position: absolute;

    content: "";

    height: 2px;

    background: black;
    }
    
    .progress::-webkit-slider-runnable-track {

    height: 2px;

    background: transparent;
    
    }
    
    .progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;

    border-radius: 100%;

    border: none;
    appearance: none;

    background-color: #2B5596;

    margin-top: -3.5px;

    z-index: 9;

    position: relative;

    transition: .5s all ease;
    
    }
  
  

  .audio-player-contain{
    width: 100%;
  }



.chapter-container{
 
  padding: 16px;
    
  .chapter-list{
    width: 100%;

    border-radius:20px;

    background: #24241F;
    
    border: 1px solid #2B5596;
    box-shadow:1px 1px 5px -1px #2B5596
  }

  .chapter-item{
   width: 100%;
   height: 60px;
 }

}